
  <div class="container">
    <header>
      <h1 class="site-title">Blog Minimal</h1>
      <p class="site-description">Des articles simples sur les technologies modernes</p>
    </header>

    <main class="articles-container">
      <article class="article-card" *ngFor="let post of posts">
        <div class="article-image"
          [style.background]="post.image ? 'url(' + post.image + ')' : 'linear-gradient(135deg, #2563eb, #1e40af)'">
          {{ post.title }}
        </div>
        <div class="article-content">
          <h2 class="article-title">{{post.title}}</h2>
          <div class="article-meta">
            <span class="article-author">Hamed lkaget</span>
            <span>•</span>
            <span class="date">{{ post.date }}</span>
          </div>
          <p class="article-excerpt">
            {{ post.description }} </p>
          <a href="#" class="read-link">
            Lire l'article
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M5 12h14M12 5l7 7-7 7" />
            </svg>
          </a>
        </div>
      </article>





    </main>
  </div>

