<section class="about-section">
    <div class="container">
        <div class="about-header">
            <h2 class="section-title">À propos de nous</h2>
            <p class="about-description">Bienvenue sur notre blog ! Ici, nous partageons avec passion des articles inspirants, des astuces utiles et des découvertes uniques autour de nos centres d'intérêt. Notre mission est de créer un espace chaleureux où chacun peut apprendre, échanger et s'inspirer. Merci de faire partie de cette aventure !</p>
        </div>

        <button><a href="/posts">Voir tous les articles</a></button>

 </div>
</section>