
.navbar-collapse {
    transition: all 0.3s ease;
  }
  

  .nav-link.active {
    font-weight: 600;
    position: relative;
    color: white !important;
  }
  
  .nav-link.active:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 10%;
    width: 80%;
    height: 2px;
    background: rgba(255, 255, 255, 0.8);
  }
  
 
  @media (max-width: 992px) {
    .navbar-nav {
      margin-top: 10px;
    }
    
    .nav-item {
      margin-bottom: 5px;
    }
    
    .btn-outline-light {
      margin-bottom: 10px;
      width: 100%;
    }
  }
  
  /* Icônes */
  .fas {
    width: 20px;
    text-align: center;
  }